.custom-con {
    margin-top: 5%;
    margin-left: 20%;
}

.box {
    background-color: rgb(125, 209, 248);
    padding: 20px;
    height: 30%;
    width: 66%;
    border: 5px solid rgb(132, 218, 132);
    margin: 10px;
    font-size: 25px;
}

.box2 {
    background-color: rgb(125, 209, 248);
    padding: 20px;
    height: 300px;
    width: 275px;
    margin: 10px;
    float: left;
}

.box3 {
    background-color: rgb(132, 218, 132);
    padding: 20 px;
    height: 300px;
    width: 275px;
    margin-left: 90px;
    margin-top: 10px;
    float: left;
}

.box4 {
    background-color: rgb(125, 209, 248);
    padding: 20 px;
    height: 300px;
    width: 275px;
    margin-left: 90px;
    margin-top: 10px;
    float: left;
}